.openBtn {
  display: flex;
  justify-content: center;
}
.openButton {
    border: none;
    border-radius: 5px;
    background-color: #fd570b;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    display: block;
  }
  .loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    max-width: 550px;
    padding: 25px;
    background-color: #161616;
  }
  .formContainer input[type=text],
  .formContainer textarea{
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
    color: var(--hardblack);
  }
  .formContainer textarea{
    font-size: 12px;
    resize: none;
  }
  .formContainer input[type=text]:focus,
  .formContainer textarea:focus {
    background-color: #dadada;
    outline: solid #8d8a8a 2px;
  }
  .formContainer .submit {
    padding: 8px 0px 5px 0px;
    border: none;
    background-color: var(--cool-orange);
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    width: 35%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer  .submit:hover, .openButton:hover {
    background-color: #ff6923;
    
  }
  .submit-cancel{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
  }
  .x-btn{
    display: flex;
    justify-content:space-between;
  }
  .x-btn .cancel{
    justify-self: flex-end;
    color: white;
    padding: 10px 14px;
    border-radius: 50%;

  }
  .cancel:hover{
    transform: scale(1.04);
  }
  .formContainer h2{
    display: flex;
    align-items: center;
  }
  input[type=file]{
    margin-bottom: 2em;
    align-self: flex-start;
  }