

main{
    background-color: var(--hardblack);
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    align-self: flex-start;
    margin-bottom: 1em;
}
.blog-area{
    display: flex;
    padding: 8.5em 0 5em 0;
    flex-wrap: wrap;
    width: 55%;
    flex-direction: column;
    align-items: center;
}
.blog-post{
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: start;
    border:1px solid rgb(53, 53, 53);
    border-radius: 10px;
    height: fit-content;
    padding: 2em;


}
.blog-post footer p{
    color: rgb(255, 150, 112);
    width: fit-content;
}
.blog-post footer p:hover{
    cursor: pointer;
    user-select: none;
}
.subpage-info{
    align-self: flex-start;
    color: rgb(255, 150, 112);
    height: 2.5em;
}
.posts-area{
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-top: 1.5em;
}