.openBtn {
  display: flex;
  justify-content: center;
}
.openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    display: block;
  }
  .loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    max-width: 550px;
    padding: 25px;
    background-color: #161616;
  }
  .formContainer input[type=text],
  .formContainer textarea{
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
    color: var(--hardblack);
  }
  .formContainer input[type=text]:focus,
  .formContainer textarea:focus {
    background-color: #c2c2c2;
    outline: solid rgb(205, 96, 49) 1px;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: rgb(35, 35, 35);
    border: 2px solid whitesmoke;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    width: 35%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .submit-cancel{
    display: flex;
    justify-content: center;
    gap: 2rem;
  }