header li,header a,header button{
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgb(26, 26, 26);
}
.logo{
    display: flex;
    cursor: pointer;
    margin-right: auto;
    font-size: 30px;
    align-items: center;
    
}
.logo>img{
    height: 3em;
}
header li{

    display: inline-block;
}
.option{
    padding: 0.9em 1.5em;
    transition: all 0.2s ease 0s;
    border-radius: 35px;
}

button{
    padding: 0.9em 2.2em;
    margin: 0 1em;
    background-color: #7f4512;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}
button:hover{
    background-color: #ba5c09;
    box-shadow: 0px 0px 15px 5px #a04c03;

}
.option:hover{
    background-color: #2e2e2e;
}
.activeSite{
    color: rgb(250, 144, 13);
    background-color: #ff7e0e4c;
}