.container>section{
    display: flex;
    background-color: rgb(20, 20, 20);
    justify-content: center;
    align-items: center;
}
section {
    display: flex;
    flex-direction: column;
    
    text-align: center;

}
section>h1{
    margin-top: 1.5em;
    font-weight: 500;
    font-size: 3em;
    line-height:1.4em;
}
.code-wrapper{
    margin-top: 1em;
    position: relative;
}
code{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
}
code *{
    font-size: 13px;
}
.highlight{
    background-color: rgb(79, 79, 79);
    border-radius: 20px;
    padding: 0.2em;
    font-style: normal;
}
section>p{
    margin-top: 3em;
}
