@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300&display=swap');

:root{
    --white: #edf0f1;
    --hardblack: #0c0c0c;
    --softblack: #141414;
    --cool-orange: #fd570b;
}
* {
    box-sizing: border-box;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    color: var(--white);

}
.container{
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: #0c0c0c;
}
